
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */

.display-flex{
  display: flex;
}

.text-primary{
  color: rgba(255, 144, 14, 1);
  ;
}

/* dark-2 */
.text-gray{
  color: #424242;
}

/* dark-3 */
.text-light-gray{
  color: #727272;
}

.bg-light{
 background-color:rgba(255, 144, 14, 0.1);
}

.btn-primary{
  max-width: 180px;
  height: 64px;
  background-color: rgba(255, 144, 14, 1);
 
  color: rgba(255, 255, 255, 1);
 font-size: 1.2rem;
  padding: 20px 25px;
   border-radius: 8px;
   border: none;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
.sections-title{
  font-size: 2.8rem;
  font-weight: 700px;
}

/* header styles */



/* navbar  related styles */

.navbar{
  justify-content: space-between;
  align-items: center;

}
.brand{
  font-weight: 700px;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-right:30px ;
}
.nav-link{
  text-decoration: none;
  font-weight: 500px;
 
}
.navbar , .banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* banner related styles */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700px;
  font-size: 4rem;
}

.banner-img{
  max-width: 100%;
}

.banner-discription{
  
  margin-bottom: 33px;
  line-height: 26px;
  font-size: 1rem;

}

/* feature will enjoy related styles */

.feature{
  gap: 140px;
}

#feature-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;

}

.feature-card{
   padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}

.feature-card .feature-title {
  font-weight: 600px;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
 
}

.feature-architect img{
  width: 100%;

 }

#exprience-badge{
  padding:45px 42px;
  font-size: 1.5rem;
 
  font-weight: 500;
  margin-top: -100px;
  margin-bottom: -100px;
  position: relative;
  z-index: 10;
}

#exprience-year{
   
  font-size: 4rem;
  font-weight: 700;
}




/* team and feature related styles */

.team{
  align-items: center;
}

.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 24px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}


#Quick-list {
  font-weight: 500px;

}

.feature-discription{
  font-size: 1rem;
  line-height: 26px;
  padding-bottom: 32px;
}
/* facts related style */

.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.facts-discription{
  width: 542px;
  font-size: 1rem;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 100px;
  
}

.facts-card{
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
  width: 240px;
  height: 240px;
  text-align: center;
  align-items: center;
  justify-content: center;
 
}
.facts-number{
  font-weight: 600px;
  font-size: 2.8rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.facts-name{
  font-size: 1.25rem;
  font-weight: 600px;
  margin-top:10px ;
}

/* footer related style */

.footer{
  max-width: 1440px;
  font-size: 1.25rem;
  font-weight: 600px;
  background-color:#FFF4E7 ;
  margin: 130px auto;

}
.footer p{
  text-align: center;
  padding: 38px 410px;
}

/* sponspors related styles */

.sponspors-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;

}

.sponsore-companise{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsore-companise img{
  filter: grayscale(100%);
}

/* responsive medis query */

@media screen and (max-width:576px) {
  .navbar , 
  .nav-links,
  .team,
  .some-facts,
  .feature {
    flex-direction: column;
  }

 .teams-img-container,
 .facts-container,
 .sponsore-companise{
  grid-template-columns: repeat(1 , 1fr);
 }


 .our-features{
  margin-left: 20px;
 }

 #exprience-badge{
  margin-top: 20px;
  margin-bottom: 20px;
 
 }

 

  .facts-container,
  .sponsore-companise{
  justify-items: center;
  gap: 24px;
 }

 .head{
  margin-left: 20px;
 }

 .facts-discription{
  width: 400px;
  margin-left: 20px;
margin-right: 50px;
 }

}

/* medium device responsive */

@media screen and (min-width:576PX) and (max-width:992px) {
  .team, .feature{
    flex-direction: column;
  }
   .our-features{
    margin: 40px auto;
   }

   #exprience-badge{
  margin-top: 20px;
  margin-bottom: 20px;
 
 }

 .feature-container{
  margin-right: 30px;
 }
   .facts-discription{
    text-align: center;
    margin: 40px auto;
   

   }
   .head{
    text-align: center;
   }
   .facts-container,
   .sponsore-companise{
    margin-left: 70px;
    margin-right: 50px;
    gap: 20px;
   
  

    grid-template-columns: repeat(2,1fr);
   }
   .sponsore-companise{
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
   }
  
}